.container {
  width: 100vw;
  height: 100vh;
}

.addItem {
  width: 400px;
  height: 100px;
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid black;
}

.pagination {
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}